<div>
	<header class="container">
		<div class="jumbotron">
			<h1>Contato</h1>
			<br/>
			<p>Lab 03 da Disciplina Sistemas de Informação 1<br/>Curso de Ciência da Computação da UFCG</p>
		</div>
	</header>

	<div class="panel panel-default">
		<div class="panel-heading">Aluno</div>
		<div class="panel-body">Jaaziel Levi Santos Moura</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<p><span class="glyphicon glyphicon-envelope"></span>  Email: jaaziel.moura@ccc.ufcg.edu.br</p>
			<br/>
			<p><span class="glyphicon glyphicon-floppy-disk"></span> GitHub: <a href="https://github.com/jaaziellevi/SI1Lab03.git" target="_blank">https://github.com/jaaziellevi/SI1Lab03.git</a></p>
		</div>
	</div>
</div>